# Python cache
__pycache__/
*.pyc

# Virtual environment
.venv/
env/
venv/

# VSCode config
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest cache
.pytest_cache/

# mypy / type checker cache
.mypy_cache/

# Build artifacts
dist/
build/
*.egg-info/
